<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Login</h1>

                <app-text-input
                    [label]="'Email Address'"
                    [formControl]="loginForm.controls['email']"></app-text-input>
                <app-text-input
                    [label]="'Password'"
                    [formControl]="loginForm.controls['password']"
                    [type]="'password'"></app-text-input>

                <div class="d-grid">
                    <button [disabled]="loginForm.invalid"
                        class="btn btn-lg btn-primary mt-3"
                        type="submit">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>